@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  background: linear-gradient(90deg, #dee1dd 0%, #99adac 35%, rgba(109, 145, 151, 1) 100%);
  overflow-x: hidden;
  height: 100vh;
}

.leftContainer {
  font-family: 'Nunito', 'sans-serif';
  font-weight: bold;
  font-size: 50px;
  color: #000;
}

.hello-icon {
  width: 70px;
  margin-left: 10px;
  margin-bottom: 40px;
  margin-top: -10px;
}

.description {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #dee1dd;
  border-radius: 20px;
  margin-left: 2%;
  font-size: 30px;
  padding: 20px;
  width: 96%;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  font-weight: bold;
}

.social-links a {
  font-size: 35px;
  margin-left: 15px;
  color: #272a2c;
  transition: color 0.3s ease;
}

.social-links .facebook {
  color: rgb(9, 65, 156);
}

.social-links .instagram {
  color: rgb(156, 26, 87);
}

.social-links .linkedin {
  color: rgb(11, 82, 137);
}

.social-links .github {
  color: rgb(19, 4, 11);
}

.tech-stack {
  margin-top: 50px;
}

.tech-icons-title {
  font-size: 1.8rem;
  margin-top: -10rem;
  display: none;
}

.icon {
  position: absolute;
}

.icon:hover+.tech-icons-title {
  text-shadow: -1px 2px #686161;
  display: block;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
}

.circle {
  box-shadow: 0 0 10px rgb(0, 0, 0);
  background-color: #070807;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 40px;
  position: relative;
  margin-top: 35px;
  cursor: pointer;
  display: flex;
  height: 120px;
  width: 120px;
}

.circle img {
  overflow: clip;
  width: 70px;
}

.frame {
  width: 100%;
  max-width: 400px;
  border: 2px solid black;
  overflow: hidden;
  margin-top: 15%;
  box-shadow: -5px 10px 20px rgb(33, 32, 32);
}

.frame img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .frame {
    max-width: 100%;
  }
}

.frameName {
  color: #000;
  margin-top: 10px;
  font-size: 3rem;
  text-shadow: -3px 4px #686161;
}

.frameName:hover {
  color: #000;
  text-shadow: -2px 3px #383232;
}

.card {
  box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  padding: 10px;
}

.projectImg {
  width: 100%;
  height: 350px;
}

.contactImg {
  width: 100%;
  height: 450px;
}

footer {
  background-color: gray;
  text-align: center;
  margin-top: auto;
  padding: 8px;
}